<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <title>Edit a bottle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    
</head>
<style>
.container{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 250px;
	
	position: center;
	max-width: 50%;
	max-height: 100%;
   }
   
  




body, html {
  height: 100%;
  margin: 0;
  background-color: #000000;
  
}

.jumbotron h1{
	text-align: center;
}

.jumbotron p{
	text-align: center;

}

.teksti h3{

}


.bg {

  background-image: url("/wachau.jpg");
  background-color: #000000;
  

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





</style>
<body>
<div class="bg">
<div class="container">
<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li role="presentation"><a href="/cellar">Back to the winelist</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Edit a bottle</h3>
      </div>
      
	
   
   <form th:object="${wine}" th:action="@{../save}" action="#" method="post">
   
   <div class="row marketing">
        <div class="col-lg-6">
         <input type="hidden" id="id" th:field="*{id}" />
        
          <h4>Producer: </h4>
          <p><label for="producer"></label>
			<input type="text" placeholder="Who made your wine..." id="producer" th:field="*{producer}" />	</p>
			<div th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}">Producer Error</div>

          <h4>Name: </h4>
          <p><label for="name"></label>
			<input type="text" placeholder="Name of the wine..." id="name" th:field="*{name}" /></p>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>			

          <h4>Vintage: </h4>
          <p><label for="vintage"></label>
			<input type="text" id="vintage" th:field="*{vintage}" /></p>
        	<div th:if="${#fields.hasErrors('vintage')}" th:errors="*{vintage}">Vintage Error</div>
        	
        </div>

        <div class="col-lg-6">
          <h4>Appellation: </h4>
          <p><label for="appellation"></label>
			<input type="text" id="appellation" placeholder="What's the appellation..." th:field="*{appellation}" /></p>
			<div th:if="${#fields.hasErrors('appellation')}" th:errors="*{appellation}">Appellation Error</div>
			
			<h4>Region: </h4>
          <p><label for="region"></label>
			<input type="text" id="region" placeholder="What's the region..." th:field="*{region}" /></p>
			<div th:if="${#fields.hasErrors('region')}" th:errors="region">Region Error</div>


          <h4>Country: </h4>
          <p><label for="country"></label>
			<input type="text" id="country" placeholder="Which country is it from..." th:field="*{country}" /></p>
			<div th:if="${#fields.hasErrors('country')}" th:errors="country">Country Error</div>

          <h4>Grapes: </h4>
          <p><label for="grapes"></label>
			<input type="text" id="grapes" placeholder="What's in the bottle..." th:field="*{grapes}" /></p>
        	<div th:if="${#fields.hasErrors('grapes')}" th:errors="grapes">Grapes Error</div>
        
        </div>
        <div class="form-row">
	<div class="form-group col-lg-12">			
			<label for="typlist">Type</label>
			<select id="typlist" th:field="*{type}" class="form-control">
       		<option th:each="type: ${types}" th:value="${type.typeid}" th:text="${type.name}"></option></select>
    		</div>    
    		</div>
    		
   
      </div>	
         		<input type="submit" value="Save" class="btn btn-success"></input>
         		
      			
	
	
		</form>
    		</div>
    		</div>

</body>
</html>